[2020-08-12 21:01] n1ru4l opened #1 "create package for server interface"
https://github.com/n1ru4l/graphql-live-queries/blob/master/packages/example/server/src/registerGraphQLLayer.ts

should be its own package similar to the network interface for the client (so it can be used in other projects without copy paste):

https://github.com/n1ru4l/graphql-live-queries/blob/master/packages/socket-io-graphql-network-interface/src/createSocketIOGraphQLNetworkInterface.ts

[2020-08-12 21:39] n1ru4l opened #2 "Figure out how to optimize list changes"
When publishing a new value through the live query observable list updates cause the whole list to re-render. Also, the old records seem not to be evicted properly from the relay store.

[2020-08-12 22:10] n1ru4l commented on #2
Might be related: https://github.com/facebook/relay/blob/c37a30de8636f7380e5a41dee046f548428497e9/packages/relay-runtime/store/RelayResponseNormalizer.js#L632

[2020-08-13 09:53] n1ru4l commented on #2
I also tried converting the list to a Connection in order to see whether it is handled better.

https://github.com/n1ru4l/graphql-live-queries/compare/connection-test

Seems like this case could be optimized by merging the results smarter:

https://github.com/facebook/relay/blob/c37a30de8636f7380e5a41dee046f548428497e9/packages/relay-runtime/handlers/connection/ConnectionHandler.js#L186-L188

[2020-08-13 10:11] n1ru4l commented on #2
This was actually just a false alarm from the react-dev tools adding console.log into the fragment components showed that the components are not re-rendering.

[2020-08-13 10:11] #2 closed

[2020-08-13 12:09] n1ru4l opened #4 "solve relay store not deleting removed nodes"
Stale nodes that are no longer displayed a first removed after the query component (that ONCE referenced them) unmounts. Ideally, we want those removed after they are no longer referenced in the query.

This is an performance issue for long-running applications.

[2020-08-13 19:41] n1ru4l opened #5 "Remove graphql.parse dependency from createSocketIOGraphQLNetworkInterface"

[2020-08-14 07:07] #5 closed

[2020-08-14 08:12] #1 closed

[2020-08-14 08:13] n1ru4l opened #6 "Improve server side validation of the GraphQL payload"

[2020-08-14 08:15] n1ru4l opened #7 "Explore options for reducing the payload sent for live queries"
A library such as https://www.npmjs.com/package/fast-json-patch could be used to only send patches over the network for altering the existing result on the client.

[2020-08-15 12:06] n1ru4l commented on #7
The problem with fast-json-patch it is not easy to create "efficient" patches for lists. E.g. instead of a remove one item from array instructions you will become instructions for updating all elements from the array.

Maybe it was possible to create better patches using fast-json-patch by denormalizing the GraphQL result tree first.

e.g.

[code]

->

[code]

which should result in smaller patche

[2020-08-16 10:10] n1ru4l commented on #4
https://github.com/facebook/relay/issues/3165

[2020-08-16 19:32] #6 closed

[2020-08-17 15:55] n1ru4l opened #8 "setup build/bundle/publish logic and workflows"

[2020-08-17 20:14] n1ru4l commented on #8
done :)

[2020-08-17 20:14] #8 closed

[2020-08-18 12:15] n1ru4l opened #10 "socket-io-graphql-server: add option to lazily enable/disable execution for a single socket"
Some systems only want to allow access to the GraphQL layer in case some authentication has happened.

[2020-08-18 19:20] #10 closed

[2020-08-18 19:21] n1ru4l opened #13 "documentation"
we need documentation :)

[2020-08-19 21:23] n1ru4l opened #14 "Ideas for making LiveQueryStore more powerful"
The approach of calling `liveQueryStore.triggerUpdate("Query.users")` might not scale that well. It could return different results for different users. It does not address the unique field argument combinations.

# Resource-Based Updates

What about parameters for a query? If a user with id `fgahex` changes we ideally only want to update queries that select the given users.

Object types that have

[2020-08-22 10:22] n1ru4l opened #25 "automate schema file generation for client"

[2020-09-04 13:15] n1ru4l opened #66 "Send operationName to server"

[2020-09-07 06:01] #66 closed

[2020-09-11 06:59] n1ru4l commented on #7
See https://github.com/n1ru4l/graphql-live-queries/pull/40

[2020-09-14 06:59] n1ru4l commented on #4
See https://github.com/n1ru4l/graphql-live-queries/blob/eb6297ae677c5ee186d15d130a014a3340d9e703/packages/example/client/src/createRelayEnvironment.tsx#L13-L34

[2020-09-14 08:34] n1ru4l opened #77 "Better error handling"
e.g. https://github.com/n1ru4l/graphql-live-queries/blob/eb6297ae677c5ee186d15d130a014a3340d9e703/packages/in-memory-live-query-store/src/InMemoryLiveQueryStore.ts#L40

We should get some inspiration from other server implementations :)

[2020-09-15 17:59] n1ru4l opened #81 "add TodoMVC app"
the simplest example is a TodoMVC app that that uses live queries and relay.

CSS: https://github.com/tastejs/todomvc-app-css
The Backend should use plain graphql-js for keeping things as simple as possible.

[2020-09-15 22:25] marcus-sa commented on #14
Since query subscriptions for several pub sub system already exist you could leverage the technical perspective of that.
For example in NestJS you can have programmatically object type defined fields as "ID"s.
If you took leverage of that and mapped in at server startup it would somehow solve it.

[2020-09-16 06:46] n1ru4l commented on #14
Hey @marcus-sa, thanks for your comment and showing interest 😊

For example in NestJS you can have programmatically object type defined fields as "ID"s.
If you took leverage of that and mapped in at server startup it would somehow solve it.

Do you mean traversing and gathering the information about the schema?

I would like to not rely on a compiler on client-side to it accessible for more people

[2020-09-16 12:53] n1ru4l opened #87 "use term schema coordinates in readme/blog"
https://github.com/graphql/graphql-spec/pull/746

[2020-09-17 13:50] n1ru4l commented on #14
I got too excited https://github.com/n1ru4l/graphql-live-queries/pull/94

[2020-09-17 20:09] n1ru4l opened #95 "Rename LiveQueryStore register to subscribe and return a Observable 🤔"
Or an AsyncIterator? 🤔

[2020-09-19 09:54] n1ru4l opened #100 "Allow returning AsyncIterators from resolvers 🤔"
I had this idea that is actually possible to allow returning AsyncIterators from resolvers support without waiting for it to land in graphql-js. The only downside would be that typings could be wrong 😅. However, that could be easily solved with patch-package.

The idea is to wrap each field resolver (as in https://github.com/n1ru4l/graphql-live-queries/pull/94). The wrapper will then check whether

[2020-09-19 16:06] n1ru4l commented on #100
https://github.com/graphql/graphql-js/blob/156c76ed77dc0d9b2dc3c988264d44763e8334aa/src/subscription/__tests__/simplePubSub.js

[2020-09-28 07:02] n1ru4l commented on #14
Resource identifier collection is now implemented as part of https://github.com/n1ru4l/graphql-live-queries/pull/94

[2020-09-28 11:37] #81 closed

[2020-09-29 07:30] #87 closed

[2020-09-29 07:31] n1ru4l commented on #14
I wrote an article about the functionality https://dev.to/n1ru4l/collecting-graphql-live-query-resource-identifier-with-graphql-tools-5fm5

[2020-10-02 10:18] n1ru4l opened #135 "add tests for InMemoryLiveQueryStore"

[2020-10-05 18:17] willstott101 commented on #7
Is your approach in #40 inventing a new wire-format to avoid shortcomings in existing json patch libraries? Or is a normal standards-compliant JSON patch for a normal standards-compliant GQL result sent over the wire? Which seems far more portable to me.

Would it be possible to use your approach to help generate a better - but compliant - JSON patch? Such that a client need not know about anythin

[2020-10-05 18:45] n1ru4l commented on #7
Hey @willstott101, thanks for showing interest 😊

Currently, it is meant to normalize a GraphQL query in order to create more efficient JSON patches.
You could skip the normalization part and create in-efficient patches that send a lot of redundant data to the client (which might be fine since you probably don't have any HTTP overhead for a WebSocket connection), depending on your schema.

I reali

[2020-10-08 10:28] n1ru4l opened #145 "create document for the GraphQL over socket.io protocol"

[2020-10-08 19:25] n1ru4l opened #146 "add todo example app with apollo"
In order to showcase and proof that `@n1ru4l/socket-io-graphql-client` works with apollo-client, adding the example app using apollo would be awesome :)

[2020-10-10 08:39] #146 closed

[2020-10-11 20:46] n1ru4l opened #155 "GraphQL extensions field for overriding the generated resource identifiers"
I thought about allowing to provide a `buildResourceIdentifier` function to the extensions field of a field resolver. That would easily allow adding custom resource identifiers/ events in user-land for invalidating a query.

[code]

[2020-10-12 17:37] n1ru4l opened #160 "rename emit to invalidate; remove invalidate method from GraphQL live query store"
The invalidate method is an implementation detail of the InMemoryLiveQueryStore

[2020-10-16 23:15] n1ru4l commented on #95
closed in https://github.com/n1ru4l/graphql-live-queries/pull/168

I continued with AsyncIterableIterator as the subscribe function in graphql-js.

[2020-10-16 23:15] n1ru4l commented on #160
resolved by https://github.com/n1ru4l/graphql-live-queries/pull/168

[2020-10-16 23:15] #160 closed

[2020-10-16 23:15] #95 closed

[2020-10-16 23:17] #25 closed

[2020-10-16 23:51] n1ru4l opened #169 "Document InMemoryLiveQueryStore usage with graphql-ws"
From taking a quick look it seems like the library must provide an api for hooking into the flow
https://github.com/enisdenjo/graphql-transport-ws/blob/65e073d9136ed79804461147137afd19ee995c81/src/server.ts#L538

[2020-10-18 18:36] n1ru4l commented on #169
I opened https://github.com/enisdenjo/graphql-transport-ws/pull/28

[2020-10-19 15:31] n1ru4l commented on #169
https://github.com/enisdenjo/graphql-transport-ws/pull/28 has been merged 🥳

Gotta merge https://github.com/n1ru4l/graphql-live-queries/pull/170 and update the examples!

[2020-11-02 10:17] n1ru4l opened #209 "add logo"
I had this first draft in mind. Wanna incorporate the GraphQL logo as well

![image](https://user-images.githubusercontent.com/14338007/97856746-015b5b00-1cfd-11eb-989b-bd9e6a4027b9.png)

[2020-11-02 10:19] n1ru4l commented on #169
See https://github.com/n1ru4l/graphql-bleeding-edge-playground/blob/main/server/main.ts for a working example for now.

[2020-11-02 10:19] #135 closed

[2020-11-02 10:20] n1ru4l opened #210 "Add integration tests for the Socket.io GraphQL Protocol"

[2020-11-03 22:18] n1ru4l opened #217 "Make InMemoryLiveQueryStore.execute compatible with overloaded arguments"
aka

[code]

[2020-11-04 06:17] n1ru4l opened #218 "Make graphql a peerDependency"

[2020-11-04 06:56] n1ru4l opened #221 "Figure out inter-op between @live and @defer/@stream"
The simplest solution would be disallowing @defer/@stream in a @live query.

[2020-11-04 07:28] #218 closed

[2020-11-04 08:10] #217 closed

[2020-11-04 12:30] sibelius commented on #221
relay compiler should throw an error?

[2020-11-04 12:31] n1ru4l commented on #221
The server should also address this as a validation error or sth.

[2020-11-06 17:47] n1ru4l opened #231 "Document prisma example usage with resource invalidation middleware"
[code]

[2020-11-08 20:02] n1ru4l opened #233 "if argument on live directive"
It would be nice if you could define whether a query should be live or not via a Boolean query argument. The main benefit I see is that the operation could then be used for SSR and streaming the results afterward.

`unless` could also be a valid option.

[code]

[code]

[2020-11-08 20:11] #209 closed

[2020-11-09 07:27] n1ru4l opened #236 "update Socket.io to 3.0.0"

[2020-11-10 17:41] #221 closed

[2020-11-10 18:33] #236 closed

[2020-11-10 21:07] n1ru4l commented on #7
I started a more generic json patch implementation here: https://github.com/n1ru4l/graphql-live-query/pull/243

[2020-11-16 18:42] n1ru4l opened #254 "support defer/stream mixed with @live"
As @maraisr pointed out it might be possible to support defer/stream mixed with the live directive.

[2020-11-18 18:32] n1ru4l commented on #254
the idea is to execute the initial query with defer and stream, then clone the query document without defer and stream and execute that after a operation got invalidated.

[2020-11-22 14:11] n1ru4l opened #265 "TicTac"

[2020-11-24 22:43] n1ru4l opened #278 "applyLiveQueryPatchInflator: add option for clone/mutating initial execution result"
Some clients such as urql won't trigger a rerender on the components if the new executionResult published by an `applyLiveQueryPatchInflator` wrapped source was mutated instead of cloned.

[2020-11-25 09:07] #278 closed

[2020-11-25 09:07] n1ru4l commented on #278
fixed in 0.3.0

[2020-11-27 22:08] n1ru4l commented on #254
This is now harder with the patch middleware. This implies that the patch middleware is capable of merging the defer/stream result.

[2020-11-30 08:25] n1ru4l opened #294 "graphql-live-query-patch: Skip sending patches with empty operation array"
https://github.com/n1ru4l/graphql-live-query/blob/704b5cf36c816e04e59dd94505704fa9df4c8d26/packages/graphql-live-query-patch/src/createLiveQueryPatchGenerator.ts#L47

In case there is no patch we don't need to send anything over the wire!

[2020-11-30 08:58] n1ru4l commented on #7
@willstott101 Check out https://github.com/n1ru4l/graphql-live-query/tree/main/packages/graphql-live-query-patch

This is sufficient for my needs right now, let me know whether this is what you had in mind. For now, I don't plan on applying any further optimizations to the execution result before doing the JSON diffing.

[2020-11-30 08:58] #7 closed

[2020-11-30 09:11] n1ru4l commented on #4
This is now solved. The scheduleGC method is now part of the public API.

[2020-11-30 09:11] #4 closed

[2020-11-30 09:48] #77 closed

[2020-11-30 10:07] n1ru4l opened #297 "add GraphiQL to examples"
should be as easy as copying the logic from https://github.com/n1ru4l/graphql-bleeding-edge-playground over here!

[2020-11-30 13:53] willstott101 commented on #7
Yeah that looks nice and simple to me, I think the diffing previous/next is a fine plug and play solution, and json patch libraries clearly make that quite doable. I like the simplicity (assuming what's in the readme is exactly the wire format) of just adding a patch key to the query result.

[2020-11-30 14:14] n1ru4l commented on #7
The only issue I see right now lists. The patches generated when an item is removed are not so optimal IMHO 😅. It would be nice if json-patch would support some kind of custom object identifier e.g. via `id` peroperty.

[2020-11-30 14:30] willstott101 commented on #7
Yeah that could help, I can see it being tricky to implement without either being excruciatingly slow, or needing some kind of id hint.

In many implementations I wonder if it could end up making more sense building the patches manually from events or, depending on the back-end architecture, even from two states as you use the library to do already.

I suspect it would be difficult to get anything

[2020-11-30 14:41] n1ru4l commented on #7
Yeah, ideally a fully reactive backend would be the best solution, another solution for reducing the over-head could be to only re-execute partials of a query (and thus only having to diff smaller payloads). Still, that is not optimal for lists, I will do some research for a better list diffing implementation.

[2020-11-30 14:46] n1ru4l opened #308 "graphql-live-query-patch: better list diffing"
The patches generated for lists are currently pretty BAD. If there was a possibility for giving JSON patch a hint via the id of an object that could help with generating more efficient patches (as it then can identify a single object as removed from a list instead of all items as changed).

Related: https://github.com/Starcounter-Jack/JSON-Patch/issues/91 https://github.com/Starcounter-Jack/JSON-P

[2020-11-30 14:46] n1ru4l commented on #7
I created https://github.com/n1ru4l/graphql-live-query/issues/308 for tracking this.

[2020-11-30 15:14] n1ru4l commented on #308
Oh this looks promising: https://github.com/benjamine/jsondiffpatch

[2020-12-22 12:41] n1ru4l commented on #297
Done in https://github.com/n1ru4l/graphql-live-query/commit/3ccc0cc742f0bd72dc09634d3ed9caed2c51c524#diff-b28b1ed9821f38c64524ea13e19264bb0772f8376afffd5d8a1f8277621833eb

[2020-12-22 12:41] #297 closed

[2021-01-21 13:03] renovate[bot] opened #395 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near "]
  "post`

[2021-01-21 21:35] #233 closed

[2021-01-27 08:41] n1ru4l opened #402 "figure out how to properly track paginated GraphQL connections"
Tracking updates for potentially huge paginated GraphQL connections is hard and can not be done with the implementation inside this repository.

The current way of doing this is a subscription (with super complicated pub-sub handlers), with manual cache update handlers on the frontend.

For a project, I came up with the following subscription solution for a connection of notes.

Ideally, we would

[2021-01-27 10:06] n1ru4l commented on #308
There has been a bit of silence here. Now I wanna pick it up again and I wonder what would be the best solution to offer both json-patch and jsondiffpatch support. I guess we could somehow make the [`graphql-live-query-patch`](https://github.com/n1ru4l/graphql-live-query/tree/main/packages/graphql-live-query-patch) more modular aka provide your own patcher function (with recipes) or have `@n1ru4l/

[2021-01-29 18:30] n1ru4l opened #406 "[InMemoryLiveQueryStore] Invalidate fields with arguments"
[code]

[code]

**Variables**
[code]

[code]

[code]

Let's say the access was updated from private to public. The `Query.note` field returns `null` if the viewer is not allowed to see it. But later the access is changed, so the note should be pushed to the client. There is currently no efficient way for invalidating only a field with a specific argument. The solution rn would be to invalidate `Qu

[2021-01-29 22:05] n1ru4l commented on #406
Addionally after thinking about it a bit more, this could also be solved in a more generic way with an API like this:

[code]

[2021-01-29 23:24] n1ru4l commented on #406
Shipped in https://github.com/n1ru4l/graphql-live-query/commit/45c05790d25d25eada10b4ef249cdad78605e1df and https://github.com/n1ru4l/graphql-live-query/commit/50ffe13169bac254328160f7412d2a9318b1754b

[2021-01-29 23:24] #406 closed

[2021-02-19 09:56] n1ru4l commented on #231
I am no longer using prisma and don't wanna maintain docs for that

[2021-02-19 09:56] #231 closed

[2021-02-23 14:22] n1ru4l opened #441 "merge socket-io-graphql-server and socket-io-graphql-client into a single package"
graphql-ws does the same, so why need to install two packages for this 🤔

[2021-03-04 20:16] sorenhoyer opened #458 "Annotate fields and/or fragments with @live"
Can't believe it has been nearly 5 years since this video https://www.youtube.com/watch?t=1090&v=ViXL0YQnioU where Lee Byron presents the idea of the @live directive.

[code]

Really cool to follow your progress on live queries, but I've been wondering why you went with the approach of annotating the entire query vs being able to annotate the individual fields or fragments?

Are you planning, at s

[2021-03-08 21:18] marcus-sa commented on #308
Modularity is always preferred in my opinion.
Having multiple packages published just for providing a patcher option seems redundant.
I'd rather install one of `jsondiffpatch` or `json-patch` separately as an optional dependency and simply provide it to `@n1ru4l/graphql-live-query`

[2021-03-10 21:58] n1ru4l commented on #458
I just noticed this issue right now, so my answer is a bit late 😅.

The problem right now is that there is not really a specification that allows sending granular partial patches to the client or re-execution partials of a operation. That’s why I choose that the InMemoryLiveQueryStore does not really interfere with anything related towards GraphQL execution. TL;DR: This was the easiest way I could

[2021-03-20 13:17] n1ru4l commented on #402
I added some thoughts about this in this idea dump https://dev.to/n1ru4l/graphql-live-queries-backed-by-the-relay-specification-3aia-temp-slug-3235971?preview=64bc18de557d2b50e02eccb452d78be7db07e414f994d2c9e35b5c17b17b4e9bf8208164f8f65513575ec5c10bc8091407b46112788e9ee34c807755

[2021-03-22 08:45] n1ru4l commented on #458
Some thoughts on how I wanna continue shaping graphql-live-query: https://dev.to/n1ru4l/graphql-live-queries-backed-by-the-relay-specification-3mlo

[2021-03-22 08:46] n1ru4l commented on #308
Some thoughts on how I wanna continue shaping graphql-live-query: https://dev.to/n1ru4l/graphql-live-queries-backed-by-the-relay-specification-3mlo

[2021-03-22 08:46] n1ru4l commented on #402
Some thoughts on how I wanna continue shaping graphql-live-query: https://dev.to/n1ru4l/graphql-live-queries-backed-by-the-relay-specification-3mlo

[2021-03-29 12:25] goodnewso opened #495 "example needed for adding GraphQLLiveDirective to schema using graphql-tools and using subscription in @n1ru4l/socket-io-graphql-server"
![Screenshot 2021-03-29 125337](https://user-images.githubusercontent.com/18370471/112835226-e9f88200-9090-11eb-980a-dfb4f17178dc.png)

am using graphql-tools to build my schema with makeExcutableSchema but when GraphQLLiveDirective is added to the schema using the schema directives I get this error.

![GraphQLLiveDirective Popup](https://user-images.githubusercontent.com/18370471/112835254-efee63

[2021-03-29 12:50] n1ru4l commented on #495
# Regarding the `makeExecutableSchema` API:

The `schemaDirectives` option is dedicated to the legacy schema directives. https://www.graphql-tools.com/docs/legacy-schema-directives/

What you will have to do is to declare the directive in SDL:

[code]

You don't need to provide any directive handler as the InMemoryLiveQueryStore is already capable of handling the directive.

This should probably b

[2021-04-01 08:40] n1ru4l commented on #495
Hey @goodnewso, could you provide some feedback on whether the information above could solve your issues?

[2021-04-01 11:02] goodnewso commented on #495
I will give an update on that soon. please

[2021-04-08 13:18] goodnewso commented on #495
I will try my best to highlight the possible issues am having. but first I will want to say thank you for the assistance. I had some serious issues with my system just got it fixed.

1. am using multiple instances of Graphql server because I could not find any documentation or example on how to enable introspection or playground or graphiql in the graphql socketio server.
2. Comming from apollo-se

[2021-04-08 13:48] n1ru4l commented on #495
Introspection has nothing to do with the GraphQL server. "Introspection" is just another GraphQL query that is executed against the GraphQL schema. See https://github.com/graphql/graphql-js/blob/7f40198a080ab3ea5ff3e1ecc9bf7ade130ec1bf/src/utilities/getIntrospectionQuery.js#L25

So GraphiQL or GraphQL Playground is simply executing an introspection query against the configured schema.

In GraphiQL

[2021-04-08 19:05] goodnewso commented on #495
Wonderful

[2021-04-10 11:14] n1ru4l commented on #441
blocked by https://github.com/kamilkisiela/bob/issues/18

[2021-04-10 11:53] n1ru4l commented on #495
The directive usage with graphql-tools is now documented over here: https://github.com/n1ru4l/graphql-live-query/blob/main/packages/graphql-live-query/README.md#graphqllivedirective

[2021-04-10 12:52] goodnewso commented on #495
If I may suggest, one more tool should also be documented which is Graphql Code Generator

[2021-04-10 13:52] n1ru4l commented on #495
Why should it be documented? GraphQL code generator is a tool unrelated to graphql-live-query.

[2021-04-11 04:40] goodnewso commented on #495
@n1ru4l

sorry, i was referring to @n1ru4l/socket-io-graphql-server not graphql-live-query.

[2021-04-24 19:45] danbeneventano opened #523 "How to use with Redis?"
The readme says:

Could you give an example for how to do this?

[2021-04-24 20:28] n1ru4l commented on #523
You can create a Redis PubSub topic to which you emit the invalidated resources. On the single application instances you subscribe to these topics and invoke the local InMemoryLiveQueryStore.invalidate.

[code]

[2021-04-24 21:19] danbeneventano commented on #523
Thanks, simpler than I expected! Would you consider adding a `RedisLiveQueryStore` that takes care of this automatically?

[2021-04-24 21:46] n1ru4l commented on #523
I tried to avoid it for now. There are both `ioredis` and `redis` which are heavily used. Which one should the implementation support? Both? Only one?

Also, note that this approach is not a true `RedisLiveQueryStore` approach. The resource identifiers are still stored within memory, not Redis, we basically only have a bridge that boradcasts invalidations to all connected InMemorLiveQueryStore ins

[2021-04-26 23:47] TrentWest7190 opened #526 "`iterator.return` running when it's not supposed to."
Hi, I'm currently having a very strange problem. I'm having differing execution results for the same server implementation of the live query with different clients. Specifically, a difference between a production and development version of my client code. On the development version, everything works just fine 100% of the time. However, on my production code, there is a pattern of live query result

[2021-04-27 01:27] TrentWest7190 commented on #526
Sorry, upon further inspection, this does not seem to be an issue with this library, but in fact an issue with how this library interacts with `graphql-ws`, for some reason, when the live query attempts to send its update, the socket is closing before it gets a chance to respond. I will investigate further.

[2021-04-27 02:12] TrentWest7190 commented on #526
My issue ended up being completely unrelated to this library. Sorry for the confusion.

[2021-04-27 02:12] #526 closed

[2021-04-27 06:26] n1ru4l commented on #526
@TrentWest7190 Hey, could you share what exactly was the issue? Is it related to any other dependency that you would use together with this library? Could we document this so other people will have an easier time resolving this issue?

[2021-04-27 21:10] TrentWest7190 commented on #526
Sure, though the issue was not directly related to the live queries, it did have to do with receiving data back from several graphql events at the same time, specifically through the `graphql-ws` implementation of the client. Basically, I was running a mutation which was updating a resource which a live query was watching. `graphql-ws`'s default behavior is to close the socket when it thinks there

[2021-05-16 12:19] Venryx commented on #146
I was looking through the Apollo example, and noticed that it uses socket-io-graph-ql-client, rather than the built in `HttpLink` (from "@apollo/client") and `WebSocketLink` (from "@apollo/client/link/ws").

Is it possible to use graphql-live-query without switching the Apollo client to use that socket-io-graph-ql-client?

If so, is there an example somewhere showing how to do so?

[2021-05-16 13:10] n1ru4l commented on #146
@Venryx apollo-link-http does afaik not support not long living http connections such as SSE or chunked delivery https://github.com/graphql/graphql-over-http/blob/main/rfcs/IncrementalDelivery.md)

So you would have to write your own link that supports this (and use a server library that supports it).

When I started implementing graphql-luve-query the ecosystem around transports was not well deve

[2021-05-16 13:23] Venryx commented on #146
Yes, it's odd to me that the Apollo team is still using `subscriptions-transport-ws`, since like you mentioned, it's no longer being maintained. I hope they will switch their codebase to `graphql-ws` soon. If they take too long, I will look into making the switch manually.

That said, I was able to hack together a solution with the existing vanilla Apollo setup/dependencies, without needing the [s

[2021-05-16 13:42] n1ru4l commented on #146
How graphql-live-query and defer/stream are implemented on the "server"/executor is that the `execute` function which is used for executing mutations and query operations returns an AsyncIterator instead of a Promise (or sync value if no resolver is async).

If you want to implement the transport/executor on the server yourself you can use https://github.com/contrawork/graphql-helix, https://githu

[2021-05-16 13:51] n1ru4l commented on #495
@n1ru4l/socket-io-graphql-server does not use graphql-codegen. I think all open questions here are answered, thus I will close this issue. If you have additional questions please open a new discussion.

[2021-05-16 13:51] #495 closed

[2021-05-16 13:53] Venryx commented on #146
Okay, I will take a look at both the demos and that interop utility, as I try to clean up and package the working code.

(For context, I'm attempting to create a helper package for [Postgraphile](https://github.com/graphile/postgraphile), utilizing [graphql-live-query-patch](https://github.com/n1ru4l/graphql-live-query/tree/main/packages/graphql-live-query-patch) to improve the efficiency of its l

[2021-05-16 13:53] n1ru4l commented on #523
@danbeneventano You created a great example over here: https://github.com/joincomet/comet/blob/1aa96e23cb85d61562c5674489987168aa0a7b8a/server/src/util/RedisLiveQueryStore.ts#L1-L59

Maybe we should add it as an recipe to the readme over here? https://github.com/n1ru4l/graphql-live-query/tree/main/packages/in-memory-live-query-store

[2021-05-16 13:54] #155 closed

[2021-05-16 13:54] n1ru4l commented on #155
This is already implemented.

[2021-05-16 15:37] n1ru4l commented on #146
I can not follow 100%. AFAIK there is no Apollo link that uses a WebSocket transport with HTTP fallback.

If you are referring to the GraphQL over Socket.io transport (link): Socket.io tries to establish a WebSocket connection and falls back to a polling solution.

[2021-05-16 15:44] Venryx commented on #146
Yes, my bad; the usage of httpLink and wsLink (as [seen here](https://github.com/Venryx/postgraphile-live-query-demos/blob/02cc0bba79044180f61f8bfbcac55c0d2f3203b3/Client/Utils/LibIntegrations/PGLink.ts#L43)) was for different things (regular queries vs subscriptions). The `wsLink` there is based on `@apollo/client/link/ws`, which is presumably based on the [subscriptions-transport-ws](https://git

[2021-05-16 15:50] n1ru4l commented on #146
The reasons why I think you should not use it:
1. No active maintainers (200+ open issues https://github.com/apollographql/subscriptions-transport-ws/issues)
2. Deprecated
3. It has unnecessary dependencies (https://github.com/apollographql/subscriptions-transport-ws/blob/0cdf55b5f3f5ddca99f9a056ab5fa0cf94a66591/package.json#L12-L15)
4. Security concerns listed over here: https://github.com/enisde

[2021-05-16 15:52] Venryx commented on #146
Thanks. I'll keep those points in mind, and switch to another transport at some point (before production).

[2021-05-16 21:16] danbeneventano commented on #523
@n1ru4l sure thing, I created a PR

[2021-05-17 05:08] #523 closed

[2021-05-17 05:13] n1ru4l commented on #254
This will be a `wontfix` for now. It does not really make sense to me to have a complete live query be deferred, as it introduces all kinds of race conditions. I will reconsider this when it is possible to only make a specific selection set of a query operation live.

[2021-05-17 05:13] #254 closed

[2021-05-20 15:20] Venryx commented on #146
By the way, I've finished published a working set of packages that add the json-patch/send-delta-only functionality between Postgraphile (backend) and Apollo (frontend): https://github.com/pg-lq/postgraphile-live-query

Discussion thread [here](https://github.com/graphile/graphile-engine/issues/725). (still needs a pull-request in postgraphile's upstream for easy installation)

[2021-06-16 23:03] Venryx commented on #308
I agree with @marcus-sa that a modular approach is much preferred.

That said, looking through the source code of `graphql-live-query-patch`, it appears that one can already swap in a custom `generatePatch` and `applyPatch` functions?

Field by which to supply a custom `generatePatch` function: https://github.com/n1ru4l/graphql-live-query/blob/c3d13b598376dfd3d26ffac1c89d19517a1c28b6/packages/grap

[2021-06-17 05:34] n1ru4l commented on #308
Hey @Venryx, I think the best solution would be to change graphql-live-query-patch to contain the common logic shared between both json patch and jsondiff and then have two packages that have the shared dependeny of the common logic. One for json patch and one for jsondiff.

I would really appreciate your help on this task 😌

[2021-06-17 06:17] Venryx commented on #308
I got too impatient, so I implemented the "easy patch-lib swapping" a layer above, in my [postgraphile-live-query](https://github.com/pg-lq/postgraphile-live-query) packages. (readme [section here](https://github.com/pg-lq/postgraphile-live-query#generatepatchesplugin) shows how to switch between them)

At some point, I agree it would be good to have this sort of easier patch-lib swapping in the `

[2021-06-17 13:05] n1ru4l commented on #308
I created https://github.com/n1ru4l/graphql-live-query/pull/581 which splits `@n1ru4l/graphql-live-query-patch` into  `@n1ru4l/graphql-live-query-patch` and  `@n1ru4l/graphql-live-query-patch-json-patch`. The former contains shared logic for all patch packages, the latter the specific logic for json-patch. I also added `@n1ru4l/graphql-live-query-patch-jsondiffpatch` based upon `jsondiffpatch`. Wh

[2021-06-17 13:28] Venryx commented on #308
Agreed, it has some unnecessary data sent along; I'd rather have that than the cascade of changes from array-item moves/deletions, but it's still not ideal. I suppose it's possible to add some code that just scans through the patch object, replacing the field holding the old-value with `0` or something (like the commenter in the thread you linked described), though this would add some processing o

[2021-06-19 07:52] n1ru4l commented on #308
I don't see a draw pack for providing packages that ship with the glue code, they are great for getting started. Anyone who wants to customize the functionality per default can simply use the graphql-live-query-patch package. For me the maintenance overhead is not that big and having examples that are covered by CI is better than some recipe that gets outdated (,however, there are probably ways of

[2021-07-31 02:17] ccollie opened #626 "Debouncing Support ?"
Is there a possibility of adding a debounce strategy (with an upper limit) ? E.g. debounce changes for 50ms with a hard limit of 500ms. The diff would be between the value at the start of the debounce period (since thats the version matching the client) and the value at the end of the period.

As a use case I'm building an api to a queueing engine, and certain queries can get chatty at high concur

[2021-07-31 23:42] n1ru4l commented on #626
I think the correct term is throtteling? I would accept a contribution for this 😇

[2021-08-01 04:53] ccollie commented on #626
Not saying I'm committing to this :-), but where's a good place to start ?

[2021-08-01 07:06] n1ru4l commented on #626
This is the function that could be debounced: https://github.com/n1ru4l/graphql-live-query/blob/3eca29866c8e7046bfd2f00c342dbb4a93e24693/packages/in-memory-live-query-store/src/InMemoryLiveQueryStore.ts#L269

[2021-08-02 14:43] ccollie commented on #626
Hey @n1ru4l , could you have a quick look at https://github.com/ccollie/graphql-live-query/commit/929e67  to see if this is a viable direction?

Or should I just go ahead with a PR ?

BTW, I'm still figuring out the tests for `InMemoryLiveQueryStore`

[2021-08-02 15:37] n1ru4l commented on #626
@ccollie Feel free to open a PR so I can comment on that and start the conversation!

[2021-08-10 19:12] TrentWest7190 opened #638 "Issue with chalk dependency within jsondiffpatch [graphql-live-query-patch-jsondiffpatch]"
https://github.com/benjamine/jsondiffpatch/issues/249

https://github.com/n1ru4l/graphql-live-query/blob/868404fd564d0a2b32fc4a3533edffc1ba932101/packages/graphql-live-query-patch-json-diff/src/applyJSONDiffPatch.ts#L2

The issue is that the `@n1ru4l/graphql-live-query-patch-jsondiffpatch` package doesn't function in-browser due to importing everything from the jsondiffpatch package within this fi

[2021-08-10 19:14] TrentWest7190 commented on #638
It looks like the intended solution, from the `jsondiffpatch` readme is to import one of the distributions within the package for browser use:

https://github.com/benjamine/jsondiffpatch#browser

[2021-08-10 19:15] n1ru4l commented on #638
Ah it is unfortunate that this package is pretty messy 😰 Maybe we should inline it here instead - and further tweak it to not include the previous result - only the addition

[2021-08-25 05:11] renovate[bot] opened #652 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

 - [ ] [chore(deps): update dependency bob-the-bundler to v1.5.1](../pull/577)

## Open

These updates have all been created already. Click a checkbox below to force a ret

[2021-08-26 05:20] dburles opened #655 "`createLiveQueryPatchGenerator` shouldn't yield empty patches"
Hey @n1ru4l thanks for all your hard work on these libraries!

I've come across an issue where I'm seeing a load of empty patches, e.g.: `{"revision":92}`, which the client isn't too happy about, https://github.com/n1ru4l/graphql-live-query/blob/main/packages/graphql-live-query-patch/src/createApplyLiveQueryPatch.ts#L42-L44.

The [`generatePatch` function](https://github.com/n1ru4l/graphql-live-qu

[2021-08-31 05:50] dburles commented on #638
100% I was thinking the same thing

[2021-09-08 07:23] #655 closed

[2021-09-08 10:03] n1ru4l commented on #638
@dburles @TrentWest7190 Contributions would be highly appreciated :)

[2021-09-08 10:03] #294 closed

[2021-09-08 10:03] n1ru4l commented on #294
Closed via https://github.com/n1ru4l/graphql-live-query/pull/658

[2021-09-08 10:04] #169 closed

[2021-09-09 09:45] n1ru4l commented on #626
This is now published 😎

[2021-09-09 09:45] #626 closed

[2021-09-09 15:43] ccollie commented on #626
@n1ru4l thanks for the followthrough. I've been knee-deep in projects the past month.

[2021-09-24 19:38] n1ru4l commented on #638
I finally created a slim version 🥳  https://github.com/n1ru4l/graphql-live-query/pull/692

[2021-09-25 09:11] n1ru4l commented on #638
Closing this as the jsondiffpatch dependency got removed 🥳

[2021-09-25 09:11] #638 closed

[2021-09-25 11:24] n1ru4l commented on #308
https://github.com/n1ru4l/graphql-live-query/pull/692 improves list diffing a lot and thus I will close this issue

[2021-09-25 11:24] #308 closed

[2021-09-26 23:50] dburles opened #701 "Improve package publishing"
Suggestions:

1. The `exports` field shouldn't stripped from the published `package.json` and no `index.mjs` file is included. @n1ru4l I found that you raised this issue earlier, (though not sure why it was closed) https://github.com/kamilkisiela/bob/issues/16
2. Don't bundle. Publish as commonjs unbundled with both commonjs and ESM entrypoints. This will allow consumers to deep import files rathe

[2021-09-27 05:40] n1ru4l commented on #701
1. There is an exports field in the package.json https://unpkg.com/browse/@n1ru4l/json-patch-plus@0.1.2/package.json Can you clarify what you mean?
2. I dont like that as it does not allow renaming and moving internal stuff without making it a breaking change. What are the actual benefits of doing that?
3. Only shipping ESM disrupts the ecosystem. Supporting both is not hard. I ao ne point in drop

[2021-09-27 06:46] dburles commented on #701
For 1., I realised that I was on earlier versions of a couple of packages, which didn't include the exports field (https://unpkg.com/browse/@n1ru4l/graphql-live-query-patch-jsondiffpatch@0.4.0/package.json). I wasn't aware that it had [already been addressed](https://github.com/n1ru4l/graphql-live-query/commit/8e14fd23022c11f6a543ed82737737bbc1d29680). Great!

With 2., On deep imports, the advanta

[2021-09-28 10:44] n1ru4l commented on #701
If you want to reduce memory usage you can still bundle your server code and drop unused code via tree shaking. I don't see why deep imports (which limit me as a library maintainer), should take care of this instead.

I think importing from CDN and causing request waterfalls is also something that should be avoided for production usage (by using a bundler), for development/demos the additional loa

[2021-09-28 23:10] dburles commented on #701
There would be no need for the complexities of bundling and tree shaking if authors would publish API's in this way.  Users won't be able to deep import just anything, only what you choose to [export as the public API](https://nodejs.org/docs/latest-v14.x/api/packages.html#packages_package_entry_points).

This is incorrect. The issue is that these packages are publishing both ESM and commonjs in s

[2021-09-29 08:58] n1ru4l commented on #701
@dburles Can you provide a reproduction, where this library would be affected by dual package hazard in a real-world scenario? I would love to get some more insights on this, as it sees that I cannot fully understand the situation.

[2021-09-29 10:16] dburles commented on #701
Hey @n1ru4l, this repo gives a pretty good example where the problem can arise https://github.com/GeoffreyBooth/dual-package-hazard

[2021-10-04 11:28] ianberdin opened #719 "extractLiveQueryRootFieldCoordinates doesn't respect 'idFieldName' option."
It looks like  [extractLiveQueryRootFieldCoordinates](https://github.com/n1ru4l/graphql-live-query/blob/7b9acf6e089de73f4e3365258b8d6e3159b8ce68/packages/in-memory-live-query-store/src/extractLiveQueryRootFieldCoordinates.ts#L52) use hard coded 'id' field name instead of 'idFieldName' option.

It brokes this feature:
[code]

[2021-10-04 12:15] n1ru4l commented on #719
@ianberdin Do you want to send a PR and test for fixing this?

[2021-10-04 13:18] n1ru4l commented on #719
Also related to https://github.com/n1ru4l/graphql-live-query/discussions/616

[2021-10-04 14:21] n1ru4l commented on #719
Actually thinking about this more the ` extractLiveQueryRootFieldCoordinates` is separate from the `idFieldName` option. As this is an argument. The correct implementation for this is described in #616

[2021-10-06 20:11] ianberdin opened #724 "json-diff-plus replaces keys with 'undefined' instead of deleting them"
[code]

[2021-10-08 11:48] n1ru4l commented on #724
Can you please create a failing test?

[2021-10-20 21:49] ben-pr-p opened #744 "InMemoryLiveQuery store doesn't respect previous `setExecuteFn`s by other envelop plugins"
Hey there! Really appreciate you and your teams work on this library and `envelop` as well.

My envelop setup is as follows:
[code]

My `useClientFromPgSettings` plugin is an envlop `onExecute` hook, that looks something like this, and is responsible for creating and managing connections to the database available to all resolvers:
[code]

However, when `liveQueryStore.execute` runs, it calls the d

[2021-10-20 21:50] ben-pr-p commented on #744
Happy to make this PR myself, just want to check that there's not some reason I don't understand why this is a bad idea

[2021-10-23 14:13] saihaj opened #748 "Website"

[2021-10-23 16:10] #748 closed, assigned to nobody

[2021-10-23 17:49] #744 closed, assigned to nobody

[2021-10-24 00:22] ostrebler opened #754 "No package can be imported from CRA + TS projects"
Using the latest react-scripts and TypeScript versions, importing something from `graphql-live-query-patch-json-patch` for example seems to fail no matter what.

From copy/pasting from the doc:

[code]

I get the following error:

[code]

I tried several import strategies (`* as jsonPatch`, importing sub-paths, etc.), the problem stays the same. It happens for all packages I tried.

[2021-10-29 23:35] dburles commented on #701
That is not always easy to determine ahead of time, which is why it's a hazard that's best avoided, since it could manifest itself in unexpected ways. Given that this project is published in a very modular way, I would guess that you might expect others to potentially publish their own graphql-live-query utility package that consumes parts of the graphql-live-query API, and because of that, users

[2021-10-30 02:55] dburles commented on #701
For some additional clarity, these packages are currently published correctly if they included only the `module` field. However, since they've been updated to export ESM with [conditional exports](https://nodejs.org/api/packages.html#conditional-exports) they are now prone to this issue.

I'll quote part of the [Node docs on the dual package hazard](https://nodejs.org/api/packages.html#dual-common

[2021-11-01 01:27] dburles commented on #701
Here's a simple app (https://github.com/dburles/dph-graphql-live-query) that demonstrates how it's possible to import into memory and run two copies of the same function. The demo app is denoted as a "module" by the top level `type` field in `package.json` (See: https://nodejs.org/dist/latest-v16.x/docs/api/packages.html#determining-module-system), and `.js` files are interpreted as ESM.

The `dif

[2021-11-11 11:51] sbatezat opened #798 "Typescript definition files seems to be wrong"
v16.13.0

8.1.0

Both of applyLiveQueryJSONDiffPatchGenerator.d.ts & liveQueryJSONDiffPatchGenerator.d.ts are referencing : import("../../graphql-live-query/src") and it's causing compilation issue on my side (using tsc).
When I manually patch them to import("../graphql-live-query") everything is working fine.
I've also changed import("../../graphql-live-query-patch/src/ExecutionPatchResult") to i

[2021-11-13 13:57] n1ru4l commented on #798
Are you using the latest version of the packages? Could you share a reproduction on code sandbox or as a GitHub repository?

[2021-12-24 00:08] ianberdin opened #851 "Unsubscribe/dispose doesn’t work with applyLiveQueryJSONDiffPatchGenerator"
Only today I noticed that when using applyLiveQueryJSONDiffPatchGenerator, unsubscribing (dispose) to queries does not work. I.e. if you Invalidate(...), it will still send a patch to the client. However, everything works if you remove applyLiveQueryJSONDiffPatchGenerator.

1. [Code from example](https://github.com/n1ru4l/graphql-live-query/blob/1c751de86cb742040d8a602a14de398064b76832/packages/to

[2021-12-24 19:15] n1ru4l commented on #851
I will get to this soon, the AsyncIterable cleanup is not properly proxied

[2021-12-26 18:27] n1ru4l commented on #851
@ianberdin COuld you please confirm whether this is resolved with the following versions: https://github.com/n1ru4l/graphql-live-query/pull/850#issuecomment-999233472

[2021-12-28 10:01] ianberdin commented on #851
@n1ru4l  It perfectly works, thanks a lot!

[2021-12-28 10:01] #851 closed

[2022-01-02 08:51] n1ru4l commented on #798
Gonna close this due to missing feedback.

[2022-01-02 08:51] #798 closed

[2022-01-10 09:54] n1ru4l opened #865 "Postgres Example using `@graphile/lds`"
https://github.com/graphile/graphile-engine/tree/v4/packages/lds

[2022-04-22 15:54] strblr opened #915 "Multi-argument custom query invalidation doesn't seem to work"
In a project, I have lists of entities called "hypotheses" that need to be refreshed via live queries. These lists are fetched using the following query:

[code]

Hypotheses are tied to specific "laws". The second argument `law` can be `null` which returns all hypotheses regardless of their laws.
I'm trying to invalidate based on a custom index that looks like this:

[code]

Here is the document I

[2022-04-22 16:12] strblr commented on #915
Ok by logging the generated indices, I can see what's going on. Here are some:

[code]

Non-string values seem to be cast to strings before generating the keys. I think this is a bug.

[2022-04-29 12:16] sbatezat commented on #14
Thanks for this great toolset!
I've got a suggestion...and also a question.

**Suggestion**

Following packages:
- graphql-live-query-patch
- graphql-live-query-patch-json-patch
- graphql-live-query-patch-json-diff

Are each including functions targetting both client and server.
Unless there is something I misunderstood, the patch creation needs to be done on server side while it's the client whic

[2022-04-29 13:25] n1ru4l commented on #14
This can be solved by doing modular imports, bundling, and dead-code elimination. I don't plan to split the logic into a client and server package.

_____

[Repeater.js](https://repeater.js.org/) is used because it is too easy ending up with memory leaks while fiddling with AsyncGenerators/AsyncIterables. There been a few memory leak within this library before, all related to that.

[2022-05-12 12:54] n1ru4l commented on #915
What behavior would you consider instead? If the type would implement a `.toString()` function you can customize how the thing is stringified 🤔

[2022-05-12 16:59] strblr commented on #915
@n1ru4l Well since the base scalars are JSON-ish, you could use `JSON.stringify` for numbers, strings, null and booleans, and `.toString()` for other values. This would make the indices closer to actual GraphQL syntax. What do you think?

[2022-05-16 15:45] n1ru4l commented on #915
Why couldn't your id type implement a toString method?

[code]

[2022-07-09 08:35] #395 closed

[2022-07-28 21:23] tetchel opened #948 "[Question] Recommended approach for invalidating lists after a change?"
Let's say I have an query `customers` which returns the list of customers, as an array of `Customer` GraphQLObjectTypes

Then I have the mutations `addCustomer`, `removeCustomer`, and updateCustomer`.

After executing `addCustomer` or `removeCustomer`, I invalidate `Query.customers`, and the whole array is sent back over.
Is there an approach possible with this library which will allow just sendin

[2022-07-29 00:36] tetchel opened #949 "[Question] How to use jsondiffpatch with apollo-client?"
I don't understand how the [example in the readme](https://github.com/n1ru4l/graphql-live-query/blob/main/packages/graphql-live-query-patch-json-diff/README.md#applylivequeryjsondiffpatch) is meant to be applied to a project which uses `apollo-client`.

What is `networkLayer` ? It seems like I should be adding a link which runs after the websocket transport link.

[2022-07-29 06:48] n1ru4l commented on #949
Hey @tetchel, pardon the bad documentation. 😭

I quickly created a PR for showcasing usage with patches using apollo-client: https://github.com/n1ru4l/graphql-live-query/pull/950

The patch middlewares are built around AsyncIterables, thus you first need to convert the EventSource into an AsyncIterable, then apply the patch transforms and last apply the async iterable to the Observable sink.

Of c

[2022-07-29 09:51] n1ru4l commented on #948
@tetchel This is solved via the https://github.com/n1ru4l/graphql-live-query/tree/main/packages/graphql-live-query-patch-jsondiffpatch middleware that ensures only patches are sent over the wire.

The trade-off here is that the server always stores the last execution result and diffs it against the new execution result. Hence there is more overhead going on on the server, but in contrast the clien

[2022-07-30 06:42] n1ru4l opened #955 "Make graphql-live-query unaware of the GraphQL schema"

[2022-08-11 19:07] simPod opened #967 "Yarn Pnp: @n1ru4l/graphql-live-query tried to access tslib"
Getting this error:

when using yarn (v3.2) Pnp.

with

[code]

[2022-08-12 08:07] n1ru4l commented on #967
@simPod Do you know how to resolve this? I never used pnp or have intentions of using it.

[2022-08-12 08:22] simPod commented on #967
I believe tslib must be added to the dependencies (example https://github.com/doug-martin/nestjs-query/pull/987/commits/308db2fbda301cc56987b35f42fce890dd0bf46a) since cjs/index.js requires it `const tslib_1 = require("tslib");`

[2022-08-23 15:23] ChrisZieba commented on #967
@n1ru4l If I open a PR adding tslib to the deps does that sound acceptable?

[2022-08-23 15:33] n1ru4l commented on #967
@ChrisZieba Yes!

[2022-08-23 15:52] ChrisZieba commented on #967
https://github.com/n1ru4l/graphql-live-query/pull/972

[2022-09-12 13:56] notrab commented on #523
@avesoceans I appreciate it's been a while but I'm on a quest to teach others how to use Redis with Live Queries. I noticed in your example it's mostly using Redis for invalidation but not the actual storage of values, or is that incorrect?

Would you be interested in collaborating on this further?